.Todolist {
  position: relative;
    text-align: center;
    background-color: rgb(118, 221, 190);
    box-shadow: 1px 3px 6px black;
    border-radius: 5px;
    width: 70%;
    height: 400px;
    margin: 30px auto;
    overflow: scroll;
  }
  .Todolist:hover{
    background-color: rgb(134, 204, 204);
  }
  li{
    width: 70%;
    overflow-x: scroll;
    background-color: rgb(111, 153, 155);
    border-radius: 5px;
    box-shadow: 2px 4px 6px black;

  }
  .inputdata{
    position: sticky;
    top:10px;
    height: 40px;
    max-width: 70%;
    border: none;
    outline: none;
    margin: 20px auto;
    padding: 0.3rem 1rem;
    box-shadow: 1px 3px 5px black;
  border-radius: 5px;
  }
  ::-webkit-scrollbar{display: none;}