.App {
  text-align: center;
  background-color: rgb(24, 129, 129);
  box-shadow: 1px 3px 6px black;
  border-radius: 5px;
  width: 70%;
  margin: 30px auto;
}
.App:hover{
  background-color: rgb(53, 95, 99);
}

input{
  background-color: rgb(46, 216, 202);
  height: 20px;
  border: none;
  outline: none;
  margin: 20px auto;
  padding: 0.3rem 1rem;
  box-shadow: 1px 3px 5px black;
border-radius: 5px;

}
